<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <center><h1>VOLUME OF CYLINDER</h1></center>
    <br>
    <center>
        <form action="/cylinder" method="get">
            Radius:<br>
            <input type="text" name="Radius"><br><br>
            Height:<br>
            <input type="text" name="Height"><br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>
        The volume of cylinder is with given radius and height is:
        <b>{{formula}}</b>
    </center>
</head>
<body bgcolor="#07E32F">

</body>
</html>